body
{
	max-width: 1400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.nav_menu
{	
	display: flex;
	margin-top: 0px;
	background-color: rgba(7, 6, 6, 0.66);
	border-bottom: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.103);
}

.cont_logo a
{
	text-decoration: none;
	font-family:sans-serif;
	color: rgb(255, 255, 255);
}

.container_name
{
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.container_info
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.detail_img
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin:auto;
}

.img
{
	height: 500px;
	display: block;
	margin:auto;
}

.detail_dates
{
	background-color: rgba(70, 62, 62, 0.03);
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: sans-serif;
}

.button_edit
{
	width: 50%;
	height: 40px;
	color:rgb(255, 255, 255);
	
	border-bottom: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0);
	font-family: sans-serif;
	background-color: rgb(105, 165, 172);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: sans-serif;
}
