body
{
	max-width: 1400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.nav_menu
{	
	display: flex;
	margin-top: 0px;
	background-color: rgba(7, 6, 6, 0.071);
	border-bottom: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.103);
}



.cont_logo a
{
	text-decoration: none;
	font-family:sans-serif;
	color: rgb(36, 36, 36);
}



.container_detail
{
	background-color: rgb(97, 102, 180);
}
.container_name
{
	text-align: center;
	background-color: rgb(80, 150, 255);
}

.container_info
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.detail_img
{
	background-color: rgb(255, 179, 80);
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin:auto;
}

.img
{
	height: 500px;
	display: block;
	margin:auto;
}

.detail_dates
{
	background-color: rgb(255, 86, 80);
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
