body
{
	max-width: 1400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(128, 255, 0, 0.87);
}


.nav_menu
{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: coral;
}
