body
{
	max-width: 1400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.968);

}

.nav_menu
{	
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 0px;
	background-color: rgba(7, 6, 6, 0.071);
	border-bottom: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.103);
}


.cont_logo
{
	margin-left: auto;
	margin-right: auto;
}
.cont_logo a
{
	text-decoration: none;
	font-family:sans-serif;
	color: rgb(36, 36, 36);
	
}

.cont_login
{
	min-width: 200px;
	padding-top: 23px;
	padding-bottom: 23px;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}


.btn_log
{
	color:rgb(12, 12, 12);
	width: 100px;
}

@media all and (min-width: 768px)
{
	.cont_login
	{
		margin-left:0px;
		margin-right:0px;
	}

	.cont_logo
	{
		margin-left: 0px;
		margin-right: 0px;
	}
}


.container_info
{
	width: 100%;
	text-align: center;
	
}
.container_info h2
{
	font-family:sans-serif;
	color: rgba(0, 0, 0, 0.701);
}

.type_info
{
	width: 100%;
	background-color:rgba(2, 2, 2, 0.064);
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	
}

.type
{
	width: 200px;
	height: 270px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color:ivory;
    border: 1px solid;
	border-color: rgba(119, 136, 153, 0.413);
    border-radius: 6px;
}

.img
{
	padding-top: 2px;
	max-width: 200px;
	max-height: 200px;
	
}
